#data types and structures

01. What are data structures, and why are they important ?

ANS:- **Data structures** are ways of
       organizing and storing data to make it efficient to access, modify, and manage. Common examples include lists, dictionaries, sets, and tuples.

           ### Why they're important:
      
       - **Efficiency**: They improve performance for tasks like searching, inserting, and deleting data.

       - **Organization**: Help in structuring data in a meaningful way to solve problems effectively.

-       **Optimization**: Choose the
        right data structure to handle specific types of data and operations, reducing time and space complexity.

02. Explain the difference between
     mutable and immutable data types with examples ?

ANS:- Mutable data types can be changed
      after creation, while immutable data types cannot.

      Mutable Examples:
      Lists: You can modify, add, or remove items.

      my_list = [1, 2]
      my_list[0] = 3  # Changes list to [3, 2]
           
      Dictionaries: You can update key-value pairs.

      my_dict = {'a': 1}
      my_dict['a'] = 2  # Changes dict to {'a': 2}

      Immutable Examples:
      Tuples: Cannot change elements once created.

      my_tuple = (1, 2)
      my_tuple[0] = 3  # Error: TypeError

     Strings: Cannot modify characters.  

     my_string = "hello"
     my_string[0] = 'H'  # Error: TypeError

03. What are the main differences
    between lists and tuples in Python ?

 ANS:- Here are the main differences    between lists and tuples in Python:

i. **Mutability**:
   - **Lists** are **mutable** (can be changed).
   - **Tuples** are **immutable** (cannot be changed).

ii. **Syntax**:
   - **Lists** use square brackets: `[1, 2, 3]`.
   - **Tuples** use parentheses: `(1, 2, 3)`.

iii. **Performance**:
   - **Tuples** are generally faster than lists because they are immutable.

iv. **Use cases**:
   - **Lists** are used when you need to modify data.
   - **Tuples** are used when you need fixed, unchangeable data.

04. Describe how dictionaries store  
    data ?

 ANS:- Dictionaries in Python store  
      data as key-value pairs. Each key is unique, and it maps to a corresponding value. This allows for fast access to values using their associated keys.

   Example:  
           my_dict = {'name': 'uttam', 'age': 21}

05. Why might you use a set instead     of a list in Python ?

 ANS:- You might use a **set** instead
       of a **list** in Python when:

     i. **Uniqueness**: Sets automatically remove duplicates, ensuring only unique elements.
    
    ii. **Faster membership tests**: Checking if an item exists in a set is faster (O(1) time complexity) compared to a list (O(n)).
    
    iii. **Set operations**: Sets support mathematical operations like union, intersection, and difference.

06.  What is a string in Python, and   how  is it different from a list ?

 ANS:- A **string** in Python is a
       sequence of characters, enclosed in single, double, or triple quotes (`'hello'`, `"world"`, `'''python'''`).

      ### Differences from a list:
         i. **Mutability**:
            - **String**: **Immutable** (cannot be changed after creation).

            - **List**: **Mutable** (can be modified).

        ii. **Content**:
            - **String**: Contains **characters** only.

            - **List**: Can contain **any type of data** (numbers, strings, other lists, etc.).

        iii. **Operations**:
            - **String**: Supports text-specific operations like slicing, concatenation, and formatting.

            - **List**: Supports adding, removing, or changing elements.

07. How do tuples ensure data integrity
     in Python ?

 ANS:- Tuples ensure **data integrity**
      in Python by being **immutable**, meaning once created, their elements cannot be changed, added, or removed. This prevents accidental modifications to data, making tuples ideal for storing fixed, reliable data that should remain consistent throughout the program.

08.  What is a hash table, and how does
     it relate to dictionaries in Python ?

  ANS:- A **hash table** is a data
        structure that stores key-value pairs and uses a **hash function** to compute an index (or hash) where the value associated with the key is stored. This allows for fast access to values based on their keys.

       In Python, **dictionaries** are implemented using a hash table. When you use a dictionary, Python automatically uses a hash function to map the keys to specific locations in memory, enabling fast lookups, insertions, and deletions.

09.  Can lists contain different data
     types in Python ?

  ANS:- Yes, lists in Python can  
        contain different data types. A single list can store integers, strings, floats, and even other lists or objects.

       Example:
               my_list = [1, "hello", 3.14, [2, 3]]

10. Explain why strings are immutable  
     in Python ?

  ANS:- Strings are **immutable** in
        Python to ensure **data integrity** and **efficiency**. Once created, their content cannot be changed, preventing accidental modifications. This immutability also allows strings to be stored more efficiently in memory, as they can be shared safely between different parts of the program without risk of unintended changes.

11. What advantages do dictionaries
     offer over lists for certain tasks ?

 ANS:-  Dictionaries offer several advantages over lists:

     i. **Faster lookups**: Accessing values by keys is quicker (O(1)) compared to searching through a list (O(n)).

     ii. **Key-value mapping**: Ideal for associating related data (e.g., name -> age).

     iii. **No duplicates**: Keys must be unique, preventing repeated data.

     iv. **Efficient searching by attribute**: You can quickly find values based on their keys.  

12.  Describe a scenario where using a
     tuple would be preferable over a list ?

  ANS:- A tuple would be preferable  
        over a list in a scenario where you need to store a collection of values that shouldn't change. For example, if you're storing the coordinates of a point in a 2D space, like `(x, y)`, using a tuple ensures the data remains immutable, preventing accidental modification. This is important when you want to maintain data integrity, such as in geographic locations or fixed configurations.

13.  How do sets handle duplicate  
     values in Python ?

  ANS:- Sets in Python automatically
        remove duplicates. They only store unique values, so if you try to add a duplicate value, it won't be included. For example:  

                my_set = {1, 2, 2, 3}
                print(my_set)  # Output: {1, 2, 3}

14. How does the “in” keyword work
     differently for lists and dictionaries ?

   ANS:- The `in` keyword checks differently for lists and dictionaries:

      - **Lists**: Checks if a **value** is in the list.
        
      - **Dictionaries**: Checks if a **key** is in the dictionary (not the value).

15. Can you modify the elements of a
     tuple? Explain why or why not ?

  ANS:- No, you cannot modify the
        elements of a tuple because tuples are immutable in Python. Once a tuple is created, its elements cannot be changed, added, or removed. This immutability ensures that the data stored in a tuple remains consistent and cannot be altered accidentally.

16.  What is a nested dictionary, and
     give an example of its use case ?

 ANS:- A nested dictionary is a
       dictionary where the values are other dictionaries. This allows you to represent complex data structures, like hierarchical information.

       Example:
              student_info = {
    'John': {'age': 18, 'grade': 'A'},
    'Emma': {'age': 20, 'grade': 'B'}
}
             
     Use case:
      A nested dictionary can be used to store student information where each student's details (like age and grade) are stored as a dictionary under their name.

17.  Describe the time complexity of
      accessing elements in a dictionary ?

  ANS:- The time complexity of  
        accessing elements in a dictionary is **O(1)** on average. This means retrieving a value using a key is very fast, regardless of the size of the dictionary, because dictionaries use a hash table for efficient lookups.

18. In what situations are lists
     preferred over dictionaries ?

  ANS:- **Lists** are preferred over
        **dictionaries** when:

        i. **Order matters**: Lists maintain the order of elements, while dictionaries don't guarantee order (until Python 3.7+ where insertion order is preserved).

        ii. **Index-based access**: When you need to access elements by position (index) rather than by a key.

        iii. **Homogeneous data**: When you're working with a collection of similar items, like numbers or strings, and don't need key-value pairs.  


19.  Why are dictionaries considered
     unordered, and how does that affect data retrieval ?

  ANS:- Dictionaries are considered
        **unordered** because their key-value pairs are stored based on a hash function, not in a specific sequence. However, starting from Python 3.7, they maintain insertion order.

        This affects data retrieval because:

        - You **cannot** rely on the order of elements.

        - Data is accessed using **keys**, not positions or indices, ensuring fast lookups (O(1)) but without guaranteed order.  

20.  Explain the difference between a
     list and a dictionary in terms of data retrieval ?    

  ANS:- In a **list**, data is  
         retrieved by **index**, which is an integer position in the list (e.g., `my_list[0]` for the first item). The retrieval is **sequential**.

        In a **dictionary**, data is retrieved by **key** (e.g., `my_dict['key']`), and keys can be any immutable data type. Retrieval is **faster** (O(1) on average) because dictionaries use a hash table for efficient lookups.

Practical Questions

01. Write a code to create a string with your name and print it ?

In [3]:
print("uttam")

uttam

02. Write a code to find the length of the string "Hello World" ?

In [4]:
# Defining the string
my_string = "Hello World"

# Finding the length of the string
length_of_string = len(my_string)

# Printing the length
print(length_of_string)

11

03.  Write a code to slice the first 3 characters from the string "Python Programming" ?

In [5]:
# Defining the string
my_string = "uttam"

# Slicing the first 3 characters
sliced_string = my_string[:3]

# Printing the sliced string
print(sliced_string)

utt

04.  Write a code to convert the string "hello" to uppercase ?

In [6]:
# Defining the string
my_string = "hello"

# Converting the string to uppercase
uppercase_string = my_string.upper()

# Printing the uppercase string
print(uppercase_string)

HELLO

05. Write a code to replace the word "apple" with "orange" in the string "I like apple" ?

In [7]:
# Defining the string
my_string = "I like apple"

# Replacing 'apple' with 'orange'
new_string = my_string.replace("apple", "orange")

# Printing the new string
print(new_string)

I like orange

06. Write a code to create a list with numbers 1 to 5 and print it ?

In [8]:
# Creating the list with numbers 1 to 5
my_list = [1, 2, 3, 4, 5]

# Printing the list
print(my_list)

[1, 2, 3, 4, 5]

07. Write a code to append the number 10 to the list [1, 2, 3, 4] ?

In [9]:
# Defining the list
my_list = [1, 2, 3, 4]

# Appending the number 10 to the list
my_list.append(10)

# Printing the updated list
print(my_list)

[1, 2, 3, 4, 10]

08.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5] ?

In [10]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)  # Removes the first occurrence of 3
print(my_list)

[1, 2, 4, 5]

09.  Write a code to access the second element in the list ['a', 'b', 'c', 'd'] ?

In [11]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]  # Index 1 corresponds to the second element
print(second_element)

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [12]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()  # Reverses the list in place
print(my_list)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [13]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [14]:
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last = my_tuple[-2]  # -2 refers to the second-to-last element
print(second_to_last)

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [15]:
my_tuple = (10, 20, 5, 15)
minimum_number = min(my_tuple)  # Finds the minimum number in the tuple
print(minimum_number)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [16]:
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')  # Finds the index of 'cat'
print(index_of_cat)

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [17]:
fruits_tuple = ('apple', 'banana', 'cherry')  # Tuple with three different fruits
is_kiwi_in_tuple = 'kiwi' in fruits_tuple  # Check if 'kiwi' is in the tuple
print(is_kiwi_in_tuple)

False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [21]:
my_set = {'a', 'b', 'c'}  # Creating a set with the elements 'a', 'b', 'c'
print(my_set)

{'b', 'c', 'a'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [22]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()  # Clears all elements from the set
print(my_set)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [23]:
my_set = {1, 2, 3, 4}
my_set.remove(4)  # Removes the element 4 from the set
print(my_set)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [24]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)  # Finds the union of the two sets
print(union_set)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [25]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1 & set2  # Finds the intersection of the two sets using the & operator
print(intersection_set)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [26]:
my_dict = {
    "uttam": "value1",
    "20": "value2",
    "jamshedpur": "value3"
}
print(my_dict)

{'uttam': 'value1', '20': 'value2', 'jamshedpur': 'value3'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [27]:
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'  # Adds the new key-value pair
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [28]:
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict['name']  # Access the value associated with the key 'name'
print(name_value)

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [29]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']  # Removes the key 'age' from the dictionary
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [30]:
my_dict = {'name': 'Alice', 'city': 'Paris'}
if 'city' in my_dict:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [31]:
# Creating a list
my_list = [1, 2, 3, 4, 5]

# Creating a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Creating a dictionary
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}

# Printing the list, tuple, and dictionary
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'John', 'age': 30, 'city': 'New York'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [32]:
import random

# Creating a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sorting the list in ascending order
random_numbers.sort()

# Printing the sorted list
print("Sorted list:", random_numbers)

Sorted list: [4, 29, 51, 52, 91]

28. Write a code to create a list with strings and print the element at the third index.

In [33]:
# Creating a list with strings
my_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Printing the element at the third index
print(my_list[3])  # Index 3 corresponds to the 4th element in the list

date

29. Write a code to combine two dictionaries into one and print the result.

In [34]:
# Creating two dictionaries
dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'Paris', 'country': 'France'}

# Combining the dictionaries using update()
dict1.update(dict2)

# Printing the combined dictionary
print(dict1)

{'name': 'Alice', 'age': 25, 'city': 'Paris', 'country': 'France'}

30.  Write a code to convert a list of strings into a set.

In [35]:
# Creating a list of strings
my_list = ["apple", "banana", "cherry", "apple", "banana"]

# Converting the list into a set
my_set = set(my_list)

# Printing the set
print(my_set)

{'cherry', 'apple', 'banana'}